<h1>Zen Notebook</h1>
<div ng-controller="NotebookController">
    <h2>Calendar</h2>

    <div data-calendar></div>

    <!--TODO: Make specific classes of h2 collasible to save space-->
    <h2>Search</h2>

    <div data-search></div>

    <h2>Tags</h2>

    <div data-tags></div>

    <h2>Stats</h2>

    <div id="stats">
        <div id="word_count" class="block">Current Word Count: {{ left.word_count }}</div>
        <div id="month_average" class="block">Month's Daily Average:</div>
        <div id="month_count" class="block">Words This Month:</div>
    </div>

    <h2>Notebooks</h2>

    <div id="notebooks" class="collapsible">
        <div ng-repeat="node in buttons"
             class="button {{node.class}}"
             ng-click="expr(node)">
            {{ node.title }}
        </div>
    </div>
</div>