<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon icon-only name="menu"></ion-icon>
    </button>

    <ion-buttons start>
      <button ion-button>
          <ion-icon icon-only name="calendar"></ion-icon>
        </button>
      <button ion-button>
          <ion-icon icon-only name="color-palette"></ion-icon>
        </button>
      <button ion-button>
          <ion-icon icon-only name="settings"></ion-icon>
        </button>
      <button ion-button>
          <ion-icon icon-only name="cloud-circle"></ion-icon>
        </button>
      <button ion-button>
          <ion-icon icon-only name="information-circle"></ion-icon>
        </button>
      <button ion-button>
          <ion-icon icon-only name="contract"></ion-icon>
        </button>
      <button ion-button>
          <ion-icon icon-only name="expand"></ion-icon>
        </button>
      <button ion-button>
          <ion-icon icon-only name="power"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
