/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyUnderwood";
  src: url("fonts/MyUnderwood.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?uidhkg");
  src: url("fonts/icomoon.eot?#iefixuidhkg") format("embedded-opentype"), url("fonts/icomoon.woff?uidhkg") format("woff"), url("fonts/icomoon.ttf?uidhkg") format("truetype"), url("fonts/icomoon.svg?uidhkg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 28, ../scss/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../scss/_fonts.scss */
.icon-calendar:before {
  content: "\e600";
}

/* line 45, ../scss/_fonts.scss */
.icon-resize:before {
  content: "\e601";
}

/* line 49, ../scss/_fonts.scss */
.icon-resize2:before {
  content: "\e602";
}

/* line 53, ../scss/_fonts.scss */
.icon-yingyang:before {
  content: "\e603";
}

/* line 57, ../scss/_fonts.scss */
.icon-switch:before {
  content: "\e604";
}

/* line 61, ../scss/_fonts.scss */
.icon-gear:before {
  content: "\f02f";
}

/* line 65, ../scss/_fonts.scss */
.icon-info:before {
  content: "\f059";
}

/* line 69, ../scss/_fonts.scss */
.icon-repo:before {
  content: "\f001";
}

/* line 73, ../scss/_fonts.scss */
.icon-triangle-left:before {
  content: "\f044";
}

/* line 76, ../scss/_fonts.scss */
.icon-triangle-right:before {
  content: "\f05a";
}

/* line 1, ../scss/_base.scss */
h1 {
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid;
}

/* line 6, ../scss/_base.scss */
h2 {
  font-weight: bold;
}

/* line 9, ../scss/_base.scss */
.button {
  -webkit-transition: color 250ms, background 250ms;
  transition: color 250ms, background 250ms;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  border: 2px solid;
  border-radius: 3px;
}

/* line 2, ../scss/_theme.scss */
.courier {
  font-family: courier;
  font-size: 14px;
}

/* line 7, ../scss/_theme.scss */
.typewriter, .carbon {
  font-family: 'MyUnderwood';
  font-size: 18px;
}

/* line 12, ../scss/_theme.scss */
.zen, .relax {
  font-family: 'Lora';
  font-size: 20px;
  line-height: 1.6;
}

/* line 19, ../scss/_theme.scss */
.dark {
  background-color: #111;
  color: #fafafa;
}
/* line 22, ../scss/_theme.scss */
.dark header {
  background: #111;
}
/* line 25, ../scss/_theme.scss */
.dark .modal {
  background: rgba(255, 255, 255, 0.9);
  color: #111;
}

/* line 31, ../scss/_theme.scss */
.light {
  background: #fdfdfd;
  color: #111;
}
/* line 34, ../scss/_theme.scss */
.light header {
  background: #fdfdfd;
}
/* line 37, ../scss/_theme.scss */
.light .modal {
  background-color: #111;
  color: #fafafa;
}
/* line 40, ../scss/_theme.scss */
.light .modal .button {
  color: #111;
}
/* line 42, ../scss/_theme.scss */
.light .modal .button:hover {
  color: #fafafa;
  border-color: #fafafa;
}

/* line 50, ../scss/_theme.scss */
.terminal {
  background: #111;
  color: #00cc00;
}
/* line 53, ../scss/_theme.scss */
.terminal .left-inner {
  background: rgba(255, 255, 255, 0.9);
  color: #111;
}

/* line 59, ../scss/_theme.scss */
.incognito {
  background: #111;
  color: #111;
}
/* line 62, ../scss/_theme.scss */
.incognito .nav-menu {
  color: #fafafa;
}
/* line 65, ../scss/_theme.scss */
.incognito .nav-menu:hover button {
  opacity: 0.4;
}
/* line 69, ../scss/_theme.scss */
.incognito .nav-menu button {
  opacity: 0;
}
/* line 71, ../scss/_theme.scss */
.incognito .nav-menu button:hover {
  opacity: 1;
}
/* line 76, ../scss/_theme.scss */
.incognito .modal {
  background: rgba(255, 255, 255, 0.9);
  color: #111;
}

/* line 109, ../scss/_theme.scss */
.relax.dark, .relax.dark header {
  -webkit-animation: animate_bg 20s;
  animation: animate_bg 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes animate_bg {
  0% {
    background: red;
  }
  50% {
    background: green;
  }
  100% {
    background: blue;
  }
}
@-webkit-keyframes animate_bg {
  0% {
    background: red;
  }
  50% {
    background: green;
  }
  100% {
    background: blue;
  }
}
/* line 128, ../scss/_theme.scss */
h1 {
  border-bottom-color: #111;
}

/* line 132, ../scss/_theme.scss */
.button {
  background: #fdfdfd;
  border-color: #111;
}
/* line 135, ../scss/_theme.scss */
.button:hover {
  background: #111;
  color: #fafafa;
}

/* line 144, ../scss/_theme.scss */
.nav-menu:hover button {
  opacity: 0.2;
}
/* line 148, ../scss/_theme.scss */
.nav-menu button {
  opacity: 0.05;
  -webkit-app-region: no-drag;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  font-family: "icomoon";
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: inherit;
  padding: 0px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
}
/* line 166, ../scss/_theme.scss */
.nav-menu button:hover {
  opacity: 1;
}

/* line 2, ../scss/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/_layout.scss */
#container {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100%;
}

/* line 11, ../scss/_layout.scss */
header {
  min-height: 64px;
  cursor: move;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100%;
}
/* line 19, ../scss/_layout.scss */
header .nav-menu {
  float: right;
  padding: 0.3em;
}

/* line 25, ../scss/_layout.scss */
.left-sidebar {
  width: 14.89362%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

/* line 29, ../scss/_layout.scss */
.content {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 17.02128%;
  clear: none;
  min-height: 400px;
  max-height: 80%;
  overflow-y: auto;
}

/* line 38, ../scss/_layout.scss */
.right-sidebar {
  width: 14.89362%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 42, ../scss/_layout.scss */
footer {
  min-height: 64px;
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 17.02128%;
  clear: none;
  position: fixed;
  bottom: 0px;
}

/* line 2, ../scss/_content.scss */
.content:focus {
  outline: 0px solid transparent;
}

/* line 1, ../scss/_slide.scss */
.modal {
  border-radius: 3px;
  z-index: 10;
  padding: 10px;
}
/* line 5, ../scss/_slide.scss */
.modal h2 {
  margin: 5%;
  border-bottom: 1px solid;
}
/* line 9, ../scss/_slide.scss */
.modal.left-inner {
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  width: 300px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -300px;
}
/* line 19, ../scss/_slide.scss */
.modal.left-inner.slide-out {
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  left: 0px;
  position: fixed;
  height: 100%;
}
/* line 29, ../scss/_slide.scss */
.modal.foot-inner {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: -300px;
  overflow: hidden;
}
/* line 39, ../scss/_slide.scss */
.modal.foot-inner div {
  margin-top: 20px;
}
/* line 42, ../scss/_slide.scss */
.modal.foot-inner.slide-out {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  bottom: 0px;
  height: 300px;
}
/* line 49, ../scss/_slide.scss */
.modal.foot-inner.slide-out .footer-content {
  visibility: visible;
  display: block;
}

/* line 1, ../scss/_notebook.scss */
div.cal {
  display: inline-block;
  height: 170px;
  min-height: 140px;
  margin: 40px;
  font-size: 0.6em;
}
/* line 7, ../scss/_notebook.scss */
div.cal table {
  border-collapse: collapse;
}
/* line 10, ../scss/_notebook.scss */
div.cal th {
  text-align: center;
  padding-bottom: 5px;
  color: #888;
  border: 0px;
}
/* line 16, ../scss/_notebook.scss */
div.cal td {
  text-align: center;
  font-size: 0.9em;
  border: 1px solid #ddd;
}
/* line 17, ../scss/_notebook.scss */
div.cal td.cal-head {
  text-align: center;
  padding-bottom: 5px;
  color: #888;
  border: 0px;
}
/* line 28, ../scss/_notebook.scss */
div.cal div.cal-day {
  padding: 6px;
  cursor: pointer;
  border: 1px solid transparent;
}
/* line 33, ../scss/_notebook.scss */
div.cal div.cal-content {
  background-color: gray;
  color: #AAA;
}
/* line 37, ../scss/_notebook.scss */
div.cal div.cal-highlight {
  background-color: #AAA;
  color: #FFF;
}
/* line 41, ../scss/_notebook.scss */
div.cal div.cal-highlight-active {
  background-color: #222;
  color: #fff;
}
/* line 45, ../scss/_notebook.scss */
div.cal div.cal-day:hover {
  border: 1px solid #111;
}
/* line 49, ../scss/_notebook.scss */
div.cal .navigation {
  color: #888;
  margin-top: 10px;
}
/* line 52, ../scss/_notebook.scss */
div.cal .navigation .icon-triangle-left {
  float: left;
  cursor: pointer;
}
/* line 56, ../scss/_notebook.scss */
div.cal .navigation .today {
  margin: 0 77px;
  cursor: pointer;
}
/* line 60, ../scss/_notebook.scss */
div.cal .navigation .icon-triangle-right {
  float: right;
  cursor: pointer;
}

/* line 2, ../scss/_nanowrimo.scss */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
/* line 7, ../scss/_nanowrimo.scss */
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
/* line 10, ../scss/_nanowrimo.scss */
.list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
/* line 14, ../scss/_nanowrimo.scss */
.list h2 {
  cursor: pointer;
}
/* line 17, ../scss/_nanowrimo.scss */
.list span {
  cursor: pointer;
}
/* line 19, ../scss/_nanowrimo.scss */
.list span.icon {
  float: left;
  display: block;
  position: absolute;
  padding-right: 5px;
}
/* line 24, ../scss/_nanowrimo.scss */
.list span.icon.plus:before {
  content: '+';
}
/* line 27, ../scss/_nanowrimo.scss */
.list span.icon.minus:before {
  content: '-';
}
