/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../scss/_theme.scss */
.courier {
  font-family: courier;
  font-size: 14px;
}

/* line 7, ../../scss/_theme.scss */
.typewriter, .carbon {
  font-family: 'MyUnderwood';
  font-size: 18px;
}

/* line 12, ../../scss/_theme.scss */
.zen, .relax {
  font-family: 'Lora';
  font-size: 20px;
  line-height: 1.6;
}

/* line 19, ../../scss/_theme.scss */
.dark {
  background-color: #111111;
  color: #fafafa;
}
/* line 22, ../../scss/_theme.scss */
.dark header {
  background: #111111;
}
/* line 25, ../../scss/_theme.scss */
.dark .modal {
  background: rgba(255, 255, 255, 0.9);
  color: #111111;
}

/* line 31, ../../scss/_theme.scss */
.light {
  background: #fdfdfd;
  color: #111111;
}
/* line 34, ../../scss/_theme.scss */
.light header {
  background: #fdfdfd;
}
/* line 37, ../../scss/_theme.scss */
.light .modal {
  background-color: #111111;
  color: #fafafa;
}
/* line 40, ../../scss/_theme.scss */
.light .modal .button {
  color: #111111;
}
/* line 42, ../../scss/_theme.scss */
.light .modal .button:hover {
  color: #fafafa;
  border-color: #fafafa;
}

/* line 50, ../../scss/_theme.scss */
.terminal {
  background: #111111;
  color: #00cc00;
}
/* line 53, ../../scss/_theme.scss */
.terminal .left-inner {
  background: rgba(255, 255, 255, 0.9);
  color: #111111;
}

/* line 59, ../../scss/_theme.scss */
.incognito {
  background: #111111;
  color: #111111;
}
/* line 62, ../../scss/_theme.scss */
.incognito .nav-menu {
  color: #fafafa;
}
/* line 65, ../../scss/_theme.scss */
.incognito .nav-menu:hover button {
  opacity: 0.4;
}
/* line 69, ../../scss/_theme.scss */
.incognito .nav-menu button {
  opacity: 0;
}
/* line 71, ../../scss/_theme.scss */
.incognito .nav-menu button:hover {
  opacity: 1;
}
/* line 76, ../../scss/_theme.scss */
.incognito .modal {
  background: rgba(255, 255, 255, 0.9);
  color: #111111;
}

/* line 109, ../../scss/_theme.scss */
.relax.dark, .relax.dark header {
  -webkit-animation: animate_bg 20s;
  animation: animate_bg 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes animate_bg {
  /* line 117, ../../scss/_theme.scss */
  0% {
    background: red;
  }

  /* line 118, ../../scss/_theme.scss */
  50% {
    background: green;
  }

  /* line 119, ../../scss/_theme.scss */
  100% {
    background: blue;
  }
}
@-webkit-keyframes animate_bg {
  /* line 123, ../../scss/_theme.scss */
  0% {
    background: red;
  }

  /* line 124, ../../scss/_theme.scss */
  50% {
    background: green;
  }

  /* line 125, ../../scss/_theme.scss */
  100% {
    background: blue;
  }
}
/* line 128, ../../scss/_theme.scss */
h1 {
  border-bottom-color: #111111;
}

/* line 132, ../../scss/_theme.scss */
.button {
  background: #fdfdfd;
  border-color: #111111;
}
/* line 135, ../../scss/_theme.scss */
.button:hover {
  background: #111111;
  color: #fafafa;
}

/* line 144, ../../scss/_theme.scss */
.nav-menu:hover button {
  opacity: 0.2;
}
/* line 148, ../../scss/_theme.scss */
.nav-menu button {
  opacity: 0.05;
  -webkit-app-region: no-drag;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
  font-family: "icomoon";
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: inherit;
  padding: 0px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
}
/* line 166, ../../scss/_theme.scss */
.nav-menu button:hover {
  opacity: 1;
}

/* line 1, ../../scss/_calendar.scss */
div.cal {
  display: inline-block;
  height: 170px;
  min-height: 140px;
  margin: 40px;
  font-size: 0.6em;
}
/* line 7, ../../scss/_calendar.scss */
div.cal table {
  border-collapse: collapse;
}
/* line 10, ../../scss/_calendar.scss */
div.cal th {
  text-align: center;
  padding-bottom: 5px;
  color: #888;
  border: 0px;
}
/* line 16, ../../scss/_calendar.scss */
div.cal td {
  text-align: center;
  font-size: 0.9em;
  border: 1px solid #ddd;
}
/* line 17, ../../scss/_calendar.scss */
div.cal td.cal-head {
  text-align: center;
  padding-bottom: 5px;
  color: #888;
  border: 0px;
}
/* line 28, ../../scss/_calendar.scss */
div.cal div.cal-day {
  padding: 6px;
  cursor: pointer;
  border: 1px solid transparent;
}
/* line 33, ../../scss/_calendar.scss */
div.cal div.cal-content {
  background-color: gray;
  color: #AAA;
}
/* line 37, ../../scss/_calendar.scss */
div.cal div.cal-highlight {
  background-color: #AAA;
  color: #FFF;
}
/* line 41, ../../scss/_calendar.scss */
div.cal div.cal-highlight-active {
  background-color: #222;
  color: #fff;
}
/* line 45, ../../scss/_calendar.scss */
div.cal div.cal-day:hover {
  border: 1px solid #111;
}
/* line 49, ../../scss/_calendar.scss */
div.cal .navigation {
  color: #888;
  margin-top: 10px;
}
/* line 52, ../../scss/_calendar.scss */
div.cal .navigation .icon-triangle-left {
  float: left;
  cursor: pointer;
}
/* line 56, ../../scss/_calendar.scss */
div.cal .navigation .today {
  margin: 0 77px;
  cursor: pointer;
}
/* line 60, ../../scss/_calendar.scss */
div.cal .navigation .icon-triangle-right {
  float: right;
  cursor: pointer;
}
