<!--//TODO: This is where markdown and formatting will come into effect.-->
        <!--Need to create a method of choosing the complete document or only current content.-->
        <!--Probably should move file management into the storage factory. It make more sense now.-->
<h1>ZenNotebook.com</h1>
<span class="button export" ng-click="expr({action: 'login', sub: 'body'})">zen-notebook.com Login</span>
<span class="button export" ng-click="expr({action: 'open_remote', sub: 'body'})">Open Remote</span>