//Type
@font-face {
  font-family: "Lora";
  src: url('fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpecialElite";
  src: url('fonts/SpecialElite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}