.modal {
  z-index: 10;
  padding: 10px;
  h2{
    margin: 5%;
    border-bottom: 1px solid;
  }
  p{
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .notice{
    font-weight: bold;
    color: red;
  }
  &.left-inner {
    -moz-transition: left 1s;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    width: 300px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -300px;
    &.slide-out {
      -moz-transition: left 1s;
      -webkit-transition: left 1s;
      -o-transition: left 1s;
      transition: left 1s;
      left: 0px;
      position: fixed;
      height: 100%;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
      .left-include {
        overflow-y: scroll;
        top: 0;
        bottom: 0;
      }
    }
    .block, .button{
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}