<!DOCTYPE html>
<html>
    <head>
        <title>Zen Notebook</title>
        <link href="app.css" rel="stylesheet">
        <script src="dist.js"></script>
    </head>

    <body id="container" ng-app="zenNotebook" ng-class="theme" ng-controller="BodyController">
        <header ng-controller="NavController" style="-webkit-app-region: drag">
            <nav class="nav-menu" menu-data="menu">
                <button ng-repeat="node in menu"
                        title="{{node.title}}"
                        class="{{node.class}}"
                        ng-click="expr(node)">
                </button>
            </nav>
        </header>

        <div class="left-sidebar slide-menu" ng-controller="ComponentController">
            <div class="left-inner modal" ng-model='left' ng-class="{'slide-out':leftChangeClass}"
                 ng-mouseleave="expr({sub: 'left'})">
                <div class="left-include" ng-include="left.partial"></div>
            </div>
        </div>

        <div ng-mouseover="expr({sub: 'left'})"></div>

        <div class="main">
            <div class="content" contenteditable></div>
        </div>
    </body>
</html>