<!DOCTYPE html>
<html>

    <head>
        <title>Zen Notebook</title>
        <link href="app.css" rel="stylesheet">
        <script src="dist.min.js"></script>
    </head>

    <body id="container" ng-app="zenNotebook" ng-class="theme" ng-controller="BodyController">

        <header ng-controller="NavController" style="-webkit-app-region: drag">
            <nav class="nav-menu" menu-data="menu">
                <button ng-repeat="node in menu"
                        title="{{node.title}}"
                        class="{{node.class}}"
                        ng-click="expr(node)">
                </button>
            </nav>
        </header>

        <div class="left-sidebar slide-menu" ng-controller="ComponentController">
            <div class="left-inner modal" ng-model='left' ng-class="{'slide-out':leftChangeClass}"
                 ng-mouseleave="expr({sub: 'left'})">
                <div ng-include="left.partial"></div>
            </div>
        </div>

        <div class="main">
            <div class="content" contenteditable></div>
        </div>

        <div class="right-sidebar"></div>

        <footer class="slide-menu" ng-controller="ApplicationController" ng-mouseleave="expr({sub: 'foot'})">
            <div class="foot-inner modal" ng-model="foot" ng-class="{'slide-out':footChangeClass}">
                <div class='footer-content'>
                    <div ng-include="foot.partial"></div>
                </div>
            </div>
        </footer>

    </body>
</html>