<!--TODO: Load settings dynamically-->
<h1>Settings</h1>
<div class="settings" ng-controller="dialogController">
    <div class="component">
        <span class="label">Component: </span>
        <select ng-change="changeComponent(active_component)"
                ng-model="active_component"
                ng-options="component for component in components"></select>
    </div>

    <div class="mute">
        <span class="label">Mute: </span>
    </div>

    <div class="baseFont">
        <span class="label">Base Font: </span>
    </div>

    <div class="customTheme">
        <span class="label">Custom Theme: </span>
    </div>
</div>