<h1>NanoWrimo</h1>
<div class="nanowrimo">
    <div ng-controller="NanowrimoController">
        <list>
            <div ng-repeat="group in groups">
                <item class="item-stable"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'minus' : 'plus'"></i>
                    &nbsp;
                    Group {{group.name}}
                </item>
                <item class="item-accordion"
                          ng-repeat="item in group.items"
                          ng-show="isGroupShown(group)">
                    {{item}}
                </item>
            </div>
        </list>

        <div id="stats">
            <div id="word_count">Current Word Count: {{ left.word_count }}</div>
        </div>

        <div id="books" class="collapsible">
            <div ng-repeat="node in buttons"
                 class="button {{node.class}}"
                 ng-click="expr(node)">
                {{ node.title }}
            </div>
        </div>
    </div>
</div>