<div class="nanowrimo">
    <div ng-controller="NanowrimoController">
        <list>
            <div ng-repeat="group in groups">
                <item class="item-stable"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'minus' : 'plus'"></i>
                    &nbsp;
                    Group {{group.name}}
                </item>
                <item class="item-accordion"
                          ng-repeat="item in group.items"
                          ng-show="isGroupShown(group)">
                    {{item}}
                </item>
            </div>
        </list>
    </div>
</div>