.editor {
    padding-top: 64px;
    padding-bottom: 64px;
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 17.02128%;
    clear: none;
    min-height: 400px;
    max-height: 80%;
    overflow-y: auto;
}

.editor:focus {
    outline: 0 solid transparent;
}
