.ngdialog {
  .ngdialog-content {
    .zen-icon {
      float: left;
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
    p {
      margin-bottom: 15px;
    }
    .button {
      display: inline;
    }
    .login-form {
      .button {
        float: left;
      }
    }
  }
}