h1{
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid;
  margin-bottom: 20px;
}
h2{
  font-weight: bold;
  margin-bottom: 20px;
}
.button {
  -webkit-transition: color 250ms, background 250ms;
  transition: color 250ms, background 250ms;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  border: 2px solid;
  border-radius: 3px;;
}