//Type
@font-face {
  font-family: "Lora";
  src: url('fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyUnderwood";
  src: url('fonts/MyUnderwood.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}