//Grid
@include add-grid(12);
@include add-gutter(1/3);

//Colors
$black: #111;
$gray: gray;
$white-background: #fdfdfd;
$white-font: #fafafa;
$terminal-green: #00cc00;

//Sizes
$icon-size: 64px;
$editor-height: 400px;